<h2>Produtos</h2>

<button (click)="novoProduto()">Novo Produto</button>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Estoque</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <td>{{ produto.id }}</td>
      <td>{{ produto.nome }}</td>
      <td>{{ produto.descricao }}</td>
      <td>{{ produto.preco }}</td>
      <td>{{ produto.estoque }}</td>
      <td>
        <button (click)="editarProduto(produto.id!)">Editar</button>
      </td>
      <td>
        <button (click)="deletarProduto(produto.id!)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
